<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Perch</string>
	<key>ordering</key>
	<array>
		<string>A707C373-C2C6-4F42-AC92-AFA529EF66B2</string>
		<string>2D3C1F64-C139-4269-91CB-D04A13416007</string>
		<string>0588D2C8-1DC1-4F3D-829A-35753E9AED95</string>
		<string>5B7F88DE-5869-414C-871A-CAD75C5BF11C</string>
		<string>84B08D19-AF82-4FB8-8FF5-0A78CCE2A962</string>
		<string>F838AF70-7B5A-421B-8C98-EB4CCF56DF7C</string>
		<string>20CE9E96-644C-4523-AE61-6B2144BACEC4</string>
		<string>70D9BEBE-0073-4DF9-AA0E-EC51A074A244</string>
		<string>F4C89B78-1936-4898-9ABE-0FDEEDA1457C</string>
		<string>CA2EAB8C-BB51-4D76-9763-87872A36358F</string>
	</array>
	<key>uuid</key>
	<string>ABBEE73B-9780-4A48-934F-B4D0D2FAAA3B</string>
</dict>
</plist>
